table {
  border: 1px solid;
  border-radius: 10px;
}

thead {
  background-color: rgba(123, 123, 123, 0.2);
}

th {
  padding: 20px 30px;
}


td {
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 10px 15px;
}